<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card-panel" >
        <center><h1>{{ houseDetails.houseDetails.name }}<br><sub ng-repeat="founder in houseDetails.houseDetails.founder" >( Founded By {{ authors }} )</sub></h1></center>
        <table class="table table-bordered table-hover">
          <tbody>
            <tr>
              <td>Words</td><td>{{ houseDetails.houseDetails.isbn }}</td>
            </tr><tr>
              <td>Coat of Arms</td><td>{{ houseDetails.houseDetails.coatOfArms }}</td>
              </tr><tr>
              <td>Founded </td><td>{{ houseDetails.houseDetails.founded }}</td>
              </tr><tr>
			  <td>Founder</td><td>{{ houseDetails.houseDetails.founder }}</td>
              </tr><tr>
              <td>Region</td><td>{{ houseDetails.houseDetails.region }}</td>
              </tr><tr>
              <td>Seats</td><td><span ng-repeat="seatsContent in houseDetails.houseDetails.seats">{{ seatsContent }}, </span></td>
              </tr><tr>
              <td>Titles</td><td><span ng-repeat="titleContent in houseDetails.houseDetails.titles">{{ titleContent }},</span></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
</div>
