<div class="col-md-12"> 
  <div class="col-sm-12 col-md-12 col-lg-12">
    <b>
      <i>
        <div>
          <div class="col-sm-4 col-md-4 col-lg-4">
          <center><h1>Books</h1></center>
          <hr>
          <book-data></book-data></div>
          <div class="col-sm-4 col-md-4 col-lg-4">
          <center><h1>Houses</h1></center>
          <hr>
          <house-data></house-data></div>
          <div class="col-sm-4 col-md-4 col-lg-4">
          <center><h1>Characters</h1></center>
          <hr>
          <div character-data></div></div>
        </div>
      </i>
    </b>
  </div>
</div>